<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P1.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P2.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P3.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P4.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P5.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P6.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P7.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>GON</mat-card-title>
          <mat-card-subtitle>KILLUA</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/P8.jpg">
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>

</mat-card>