<mat-card class="example-card">
  <h2 class="mat-elevation-z1">Welcome to My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hello, my Name is</h3>
      <h1>Christian Paul <span>Talua</span></h1>
      <h4>Bachelor of Sciece in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/C1 - Copy.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p> I am 21 years old, currently residing in Pob. Dist. 1 Barugo, Leyte. I am a hardworking person,
      honest sometimes. I'm  good in time management, always willing to learn new skills. Easily adapt sorroundings. I am friendly,
      helpful, and of course I have a sense of humour. I have a lot of hobbies when I'm bored. I exhaust
      myself playing basketball, dancing, and singing</p>
  </mat-card-content>
</mat-card>